@model NOPAINNOGAIN.Models.Aparelho

@{
    ViewData["Title"] = "Delete";
}

<h1>Tem certeza de que deseja excluir isso?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupomuscular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupomuscular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tempoFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tempoFim)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Voltar</a>
    </form>
</div>
