@model NOPAINNOGAIN.Models.Aparelho

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do aparelho</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupomuscular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupomuscular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tempoFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tempoFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Voltar</a>
</div>
