@model IEnumerable<NOPAINNOGAIN.Models.Aparelho>

@{
    ViewData["Title"] = "Index";
}

<body class="img-fundo-equipamento">
    <h1>Pagina inicial</h1>
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-success">Crie um novo</a>
    </p>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grupomuscular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tempo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tempoFim)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grupomuscular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tempo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tempoFim)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
